/* Vars */
$primary-bg-colour: #009688;
$primary-bg-colour--light: #b2dfdb;
$primary-bg-colour--dark: #00796b;
$primary-text-colour: #FFF;

$primary-accent-colour: #eeff41;


:host {
  overflow: hidden;
}

.tournament-panel {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

:host([animate]) .tournament-panel {
  overflow: visible;
}

::-webkit-scrollbar {
  display: none;
}

.card {
  position: relative;
}

.tournament-panel.wide > .card {
  width: 512px;
  margin: 64px auto 0;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.card > core-toolbar {
  height: 176px;
  font-size: 16px;
  line-height: 26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-color: $primary-bg-colour--dark;
  color: $primary-text-colour;
}

.card > core-toolbar::shadow #topBar {
  height: 176px;
}

.tournament-panel.wide > .card > core-toolbar {
  font-size: 18px;
}

.tournament-panel.wide core-toolbar > .question {
  padding: 0 8px;
}

.tournament-content {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.tournament-panel.wide .tournament-content {
  overflow: inherit;
}

#tournamentViews {
  display: block;
}

#tournamentViews > * {
  display: none;
}

#tournamentViews > .core-selected {
  display: block;
}

paper-fab.check-button {
  position: absolute;
  top: 148px;
  right: 16px;
  background-color: #f5f5f5;
  color: #cdcdcd;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

:host([animate]) paper-fab {
  visibility: hidden;
}

.tournament-panel.wide paper-fab.check-button {
  right: 24px;
}
