/* Vars */
html, body {
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

body {
  margin: 0;
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
  font-family: "RobotoDraft", sans-serif;
  color: #444;
  fill: #444;
  font-weight: 400; }

golf-tournament {
  min-height: 450px;
  overflow: hidden; }
