/* Vars */
$primaryBgColour: #009688;
$lightBgColour: #B2DFDB;
$darkBgColour: #00796b;
$primaryAccentColour: #eeff41;
$primaryTextColour: #FFF;
$lightTextColour: #999;
$darkTextColour: #000;
$neutralBackgroundColour: #EEE;

:host {
  display: block;
}

.no-tournaments {
  background-color: $primaryTextColour;
  height: 100%;
  text-align: center;
}

.content-icon {
  height: 256px;
  height: 30vh;
  width: 100%;
}

.upcoming-tournaments-section {
  padding: 10px 0 16px;
}

.card {
  margin: 8px;
  background-color: $primaryTextColour;
  border-radius: 2px;
  color: $darkTextColour;
  border: 1px solid #d8d8d8;
  text-align: left;
  padding: 0 0 8px;
  position: relative;
}

.card__header {
  background-color: $primaryBgColour;
  color: $primaryTextColour;
}

.tournament-info {
  margin: 8px 10px 10px;
}

.tournament-format {
  font-size: 14px;
}

.score-group,
.create-group
{
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.score-group[showing],
.create-group[showing] {
  -webkit-transform: none;
  transform: none;
}

.create-group::shadow #icon {
  width: 40px;
  height: 40px;
  color: $primaryBgColour;
}

.score-group::shadow #icon {
  width: 40px;
  height: 40px;
  color: #4c4c4c;
}

paper-button {
  color: $primaryBgColour;
  font-size: 12px;
}

.divider {
  background-color: rgba(0,0,0,0.12);
  height: 1px;
}

.button-holder {
  margin: 8px 4px 10px;
}

.rounds-container {
  font-size: 14px;
  margin: 8px 8px 0;
}

.rounds-list-item {
  position: relative;
}

.round-info {
  font-size: 13px;
  padding: 8px;
}

.round-complete {
  display: none;
}

.round-complete[showing] {
  background-color: rgba(0, 150, 136, 0.88);
  display: block;

  > div {
    height: 100%;
  }

  .round-complete__text {
    font-size: 10vw;
    color: $primaryTextColour;
  }
}

.wide .round-complete[showing] {

  .round-complete__text {
    font-size: 6vw;
  }
}

.round-number {
  font-size: 16px;
  padding: 0 0 4px;
  margin: 0 0 8px;
}

.round-category {
  font-weight: bold;
  padding: 0 0 4px;
  display: inline-block;
}
