/* Vars */
$primaryBgColour: #009688;
$lightBgColour: #b2dfdb;
$darkBgColour: #00796b;
$primaryAccentColour: #eeff41;
$primaryTextColour: #FFF;
$lightTextColour: #999;
$darkTextColour: #000;
$neutralBackgroundColour: #EEE;

:host {
  display: block;
}

:host ::shadow paper-input-decorator,
:host ::shadow paper-input {
  max-width: 20em;
  width: auto;
}

section {
  background-color: $primaryTextColour;
  height: 100%;
  position:relative;
}

paper-progress {
  position: absolute;
  width: 100%;
}

.club-search {
  padding: 0 16px;
  position:relative;
}

.results-list__row {
  cursor: pointer;
}

.results-list__row.selected {
  background-color: rgba(238, 255, 65, 0.02);
}

.results-title {
  color: $darkBgColour;
  padding: 0 16px 8px;
}

.results-list {
  line-height: 1.6;
}

.results-list__item,
.results-empty {
  padding: 12px 16px;
}

.divider {
  background-color: rgba(0,0,0,0.12);
  height: 1px;
}

.club-name {
  color: $darkTextColour;
}

.club-location {
  font-size: 14px;
}
