/* Vars */
$primaryBgColour: #009688;
$lightBgColour: #b2dfdb;
$darkBgColour: #00796b;
$primaryAccentColour: #eeff41;
$primaryTextColour: #FFF;
$lightTextColour: #999;
$darkTextColour: #000;
$neutralBackgroundColour: #EEE;

:host {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

core-animated-pages,
section {
  height: 100%;
  position:relative;
}

.players-list__row {
  background-color: #FFF;
  cursor: pointer;
}

.players-list__row.selected {
  background-color: rgba(238, 255, 65, 0.02);
}

.players-title {
  color: $darkBgColour;
  padding: 0 16px 8px;
}

.players-list {
  padding-top: 16px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.players-list__item,
.players-empty {
  padding: 12px;
}

/* ToDo - Revisit to add lifted up effect to transition
.players-list__row.raised {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 10001 !important;
  background-color: white;
}*/


.divider {
  background-color: rgba(0,0,0,0.12);
  height: 1px;
}

.player-selected__player-info {
  line-height: 2;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-bottom: 0 none;
  border-top: 0 none;
  min-height: 34px;
}

.player-selected__player-info:first-child {
  border-right: 0 none;
}

.player-selected__border {
  height: 4px;
}

.player-selected__border--one {
  background-color: #ff5252;
}

.player-selected__border--two {
  background-color: #03A9F4;
}

.player-selected__border--three {
  background-color: #ffeb3b;
}

.player-selected__border--four {
  background-color: #1de9b6;
}

.player-name {
  color: $darkTextColour;
  margin-right: 16px;
}

.player-handicap {
  color: $primaryBgColour;
  font-size: 14px;
  margin: 0 6px 0 0;
}

.add-to-group {
  color: $primaryBgColour;
  padding-right: 0;
}

.remove-from-group {
  color: red;
  display: none;
}

.remove-from-group[showing] {
  display: block;
}
