/* Vars */
$primary-bg-colour: #009688;
$primary-bg-colour--light: #b2dfdb;
$primary-bg-colour--dark: #00796b;
$primary-text-colour: #FFF;

$primary-accent-colour: #eeff41;

:host {
  background-color: #000;
  display: block;
}

.user-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

core-toolbar {
  background-color: $primary-bg-colour;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-bottom: 1px solid rgba(0,0,0,.15);
  color: #fff;
  height: 100px;
  z-index: 1;
}

.section-list {
  display: block;
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2px 0;
  margin: 0 -2px;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.menu-item {
  position: relative;
  float: left;
  vertical-align: top;
  width: 50%;
  height: 224px;
  /*
   * force items to be layers until
   * overflow scrolling renders correctly
   */
  will-change: transform;
}

.menu-item[needZ] {
  z-index: 10000; /* need this for will-change */
}

.menu-item.completed {
  pointer-events: none;
}

.tile {
  background-color: $primary-bg-colour--light;
  cursor: pointer;
  position: relative;
  margin: 2px;
}

.section-tile-bg {
  position: absolute !important;
}

.section-bg-wrapper {
  width: 80%;
  height: 80%;
}

.section-bg-wrapper core-icon {
  height: 100%;
  width: 100%;
}

.section-name {
  background-color: $primary-bg-colour--dark;
  color: #fff;
  height: 48px;
  padding: 0 16px;
  font-size: 12px;
}

/* wide layout */
.wide.section-list {
  padding: 4px 0;
  margin: 0 -4px;
  /* need to avoid transitioning elemnents causing scrollbars to appear */
  overflow-y: hidden;
}

.wide .menu-item > .tile {
  margin: 4px;
}

.wide .menu-item {
  width: calc(100% / 6);
  height: calc(100% / 3);
}

.wide .menu-item:nth-of-type(1) {
  width: calc(100% / 3);
  height: calc(100% / 3 * 2);
}

.wide .menu-item:nth-of-type(1) .section-bg-wrapper {
  width: 64%;
  height: 64%;
}

.wide .menu-item:nth-of-type(4) {
  width: calc(100% / 3);
}

.wide .menu-item:nth-of-type(4) .section-bg-wrapper {
  width: 100%;
  height: 100%;
}

.wide .menu-item:nth-of-type(5) {
  width: calc(100% / 3);
  height: calc(100% / 3 * 2);
}

.wide .menu-item:nth-of-type(9) {
  position: absolute;
  top: calc(100% / 3 * 2);
  left: 0;
  width: calc(100% / 6);
  height: calc(100% / 3 - 4px);
}

.wide .menu-item:nth-of-type(10) {
  position: absolute;
  top: calc(100% / 3 * 2);
  left: calc(100% / 6);;
  width: calc(100% / 6);
  height: calc(100% / 3 - 4px);
}
