/* Vars */
$primaryBgColour: #009688;
$lightBgColour: #b2dfdb;
$darkBgColour: #00796b;
$primaryAccentColour: #eeff41;
$primaryTextColour: #FFF;
$lightTextColour: #999;
$darkTextColour: #000;
$neutralBackgroundColour: #EEE;

:host {
  display: block;
}

.results-empty {
  padding: 40px 16px;
}

.club-info {
  line-height: 1.3;
  padding: 40px 16px 16px;
}

.club-address {
  font-size: 14px;
}

.divider {
  background-color: rgba(0,0,0,0.3);
  height: 1px;
}

.course-info {
  margin: 8px 0px 10px;
}

.card {
  margin: 5px 16px 0;
  background-color: $primaryTextColour;
  border-radius: 2px;
  color: $darkTextColour;
  border: 1px solid #d8d8d8;
  padding: 10px;
  text-align: left;
  position: relative;
}

.course-teeboxes {
  margin: 0;
}
