/* Vars */
$primaryBgColour: #009688;
$lightBgColour: #E0F2F1;
$darkBgColour: #00796b;
$primaryAccentColour: #eeff41;
$primaryTextColour: #FFF;
$lightTextColour: #999;
$darkTextColour: #000;
$neutralBackgroundColour: #EEE;

:host {
  background-color: rgb(238, 238, 238);
  display: block;
}

.wide :host {
  background-color: $primaryTextColour;
}

paper-progress {
  position: absolute;
  width: 100%;
}

paper-radio-button {
  font-size: 14px;
}

.results-empty {
  display:none;
  padding: 40px 16px;
}

.club-info {
  line-height: 1.3;
  padding: 20px 16px 16px;
}

.club-address {
  font-size: 14px;
}

.divider {
  background-color: rgba(0,0,0,0.12);
  height: 1px;
}

.course-info {
  margin: 8px 0px 10px;
}

.course-name {
  padding: 0 10px;
}

.course-holes {
  font-size: 14px;
  padding: 0 10px;
}

.card {
  margin: 8px 8px 16px;
  background-color: $primaryTextColour;
  border-radius: 2px;
  color: $darkTextColour;
  border: 1px solid #d8d8d8;
  text-align: left;
  position: relative;
}

.choose-course-section {
  position: relative;
}

.wide.choose-course-section {
  background-color: $primaryTextColour;
}

.date-picker-launcher {
  border-bottom: 1px solid $darkBgColour;
  max-width: 200px;
  margin: 16px 10px 16px;
  padding: 0 0 4px;
}
