/* Vars */
$primaryBgColour: #009688;
$lightBgColour: #B2DFDB;
$darkBgColour: #00796b;
$primaryAccentColour: #eeff41;
$primaryTextColour: #FFF;
$lightTextColour: #999;
$darkTextColour: #000;
$neutralBackgroundColour: #EEE;

:host {
  display: block;
}

.no-tournaments {
  background-color: $primaryTextColour;
  height: 100%;
  padding: 0 16px;
  text-align: center;
}

.content-icon {
  height: 256px;
  height: 30vh;
  width: 100%;
}

.active-tournaments-section {
  padding: 10px 0 16px;
}

.round-details {
  margin: 8px 10px 10px;
}

.round-name {
  font-size:14px;
}

.round-date {
  font-size:13px;
}

.grouping--name {
  font-size: 18px;
  margin: 8px 10px 10px;
}

.card {
  margin: 8px;
  background-color: $primaryTextColour;
  border-radius: 2px;
  color: $darkTextColour;
  border: 1px solid #d8d8d8;
  text-align: left;
  padding: 0 0 8px;
  position: relative;
}

.card__header {
  background-color: $primaryBgColour;
  color: $primaryTextColour;
  padding: 4px 4px 4px 0;

  paper-button {
    background-color: $primaryTextColour;
    font-size: 12px;
    color: $darkTextColour;
  }
}

  :host([animate]) .show-card-button {
  text-indent: -9999px;
}

.divider {
  background-color: rgba(0,0,0,0.12);
  height: 1px;
}

.player__info {
  font-size: 16px;
  padding: 16px 8px;
}

.player__handicap {
  color: $primaryTextColour;
  font-size: 13px;
  line-height: 22px;
  margin: 0 5px;
  padding: 0 2px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 22px;
  width: 22px;
}

.player__handicap--1 {
  background-color: #ff5252;
}

.player__handicap--2 {
  background-color: #03A9F4;
}

.player__handicap--3 {
  background-color: #ffeb3b;
  color: #000;
}

.player__handicap--4 {
  background-color: #1de9b6;
  color: #000;
}

.player__score{
  color: $primaryBgColour;
}

.player__scorecard {
  margin-right: 16px;
}
