/* Vars */
$primary-bg-colour: #009688;
$primary-bg-colour--light: #b2dfdb;
$primary-bg-colour--dark: #00796b;
$primary-text-colour--light: #FFF;
$primary-text-colour--dark: #000;
$neutralBackgroundColour: #EEE;

$primary-accent-colour: #eeff41;

.card {
  background-color: $primary-text-colour--light;
  box-sizing: border-box;
  width: 100%;
}

.scoreboard-empty {
  display: none;
}

.scoreboard-empty[showing] {
  display: block;
  padding: 40px 16px;
  text-align: center;
}

.card > core-toolbar {
  background-color: $primary-bg-colour;
  color: $primary-text-colour--light;
}

.wide.card:not(.tvmode) {
  width: 712px;
  margin-top: 64px;
}

.wide.card.multi-column {
  width: 100%;
  height: 100%;
}

.back-button {
  position: absolute;
  top: 12px;
  left: 8px;
  color: white;
}

.back-button.wide {
  position: fixed;
  top: 12px;
  left: 16px;
  color: #424242;
}

.card:not(.tvmode) .section-title {
  padding-left: 56px;
  font-size: 16px;
}

.wide .section-title {
  padding: 0;
}

.tvmode .section-title {
  font-size: 24px;
}

.scroll {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.multi-column .list {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.content-icon {
  height: 256px;
  height: 30vh;
  width: 100%;
}

.item,
.headings {
  background-color: white;
  height: 56px;
  padding: 8px 24px;
  box-sizing: border-box;
  position: relative;
  font-size: 18px;
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.28s;

  > .thru {
    text-align: center;
  }
}

.headings {
  font-size: 16px;
  font-weight: bold;
  padding: 0 20px;
}

.multi-column .item {
  padding: 16px 32px;
}

[animate] .item.rising {
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 10001 !important;
  background-color: white;
}

[animate] .item.rising .rankNo {
  display: none;
}

.delta {
  display: none;
  padding-right: 32px;
  color: #00bbd3;
  font-weight: bold;
}

[animate] .item.rising .delta {
  display: inline-block;
}

.arrow {
  display: none;
  margin-left: -4px;
  -webkit-transform: rotate(90deg);
}

[animate] .item.rising .arrow {
  display: inline-block;
}

.rank {
  width: 56px;
}

.avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 16px;
}

.main {
  position: relative;
}

.main::-webkit-scrollbar {
  display: none;
}

.bg {
  background-color: #eee;
}

:host([animate]:not(.core-selected)) .bg {
  z-index: -1;
}
