/* Vars */
$primaryBgColour: #009688;
$lightBgColour: #b2dfdb;
$darkBgColour: #00796b;
$primaryAccentColour: #eeff41;
$primaryTextColour: #FFF;
$lightTextColour: #999;
$darkTextColour: #000;
$neutralBackgroundColour: #EEE;

:host {
  display: block;
}

:host ::shadow paper-input-decorator,
:host ::shadow paper-input {
  color: $darkTextColour;
  max-width: 20em;
  width: auto;
}

section {
  height: 100%;
  padding: 0 16px;
  position:relative;
}
