:host {
  display: block;
}

.group-view {
  background-color: #fff;
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.four-quarter {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.player-score {
  width: 50%;
  height: 50%;
  box-sizing: border-box;
}

.player-score:nth-of-type(2n+1) {
  border-right: 1px solid #9d9d9d;
}

.player-score:nth-of-type(1), .player-score:nth-of-type(2) {
  border-bottom: 1px solid #9d9d9d;
}

.score-navigation-footer {
  border-top: 1px solid #9d9d9d;
  height: 94px;
}
