/* Vars */
$primary-bg-colour: #009688;
$primary-bg-colour--light: #b2dfdb;
$primary-bg-colour--dark: #00796b;
$primary-text-colour--light: #FFF;
$primary-text-colour--dark: #000;
$neutralBackgroundColour: #EEE;

$primary-accent-colour: #eeff41;

:host {
  display: block;
}

.group-view {
  background-color: #fff;
  overflow: auto;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.players-container {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.player {
   padding: 8px;
   box-sizing: border-box;
 }

.one-player {

  .player {
    width: 100%;
    height: 100%;
  }

  .player__name {
    font-size: 26px;
  }

  .player__handicap {
    height: 33px;
    width: 33px;
    font-size: 26px;
    line-height: 33px;
  }

  .player__score {
    font-size: 26px;
  }

  .player__score-input {
    font-size: 4em;
    font-size: 20vh;
  }

  paper-fab[mini] {
    height: 60px;
    padding: 18px;
    width: 60px;
  }
}


.four-players {

  .player {
    width: 50%;
    height: 50%;
  }
}

.player:nth-of-type(1) {
  border-top: 6px solid #ff5252;

  .player__handicap {
    background-color: #ff5252;
  }
}

.player:nth-of-type(2) {
  border-top: 6px solid #03A9F4;

  .player__handicap {
    background-color: #03A9F4;
  }
}

.player:nth-of-type(3) {
  border-top: 6px solid #ffeb3b;

  .player__handicap {
    background-color: #ffeb3b;
    color: #000;
  }
}

.player:nth-of-type(4) {
  border-top: 6px solid #1de9b6;

  .player__handicap {
    background-color: #1de9b6;
    color: #000;
  }
}

.player:nth-of-type(2n+1) {
  border-right: 1px solid #9d9d9d;
}

.player__name {
  font-size: 18px;
}

.player__handicap {
  background-color: #db4437;
  color: $primary-text-colour--light;
  font-size: 13px;
  line-height: 22px;
  margin: 0 5px;
  padding: 0 2px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 22px;
  width: 22px;
}

.player__score {
  text-align: right;
}

paper-fab[mini] {
  background: $primary-bg-colour;
  color: $primary-text-colour--light;
  height: 30px;
  padding: 3px;
  width: 30px;
}

.player__score-input {
  font-size: 4em;
  font-size: 8vh;
  text-align: center;
}

.player__score-quick-button-container {
  display:none !important;
  padding: 8px 0;
}

.player__score-quick-button {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.05);
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  -webkit-transition: background-color .218s,border-color .218s,box-shadow .218s;
  transition: background-color .218s,border-color .218s,box-shadow .218s;
  -webkit-user-select: none;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  cursor: pointer;
  float: left;
  height: 28px;
  line-height: 28px;
  margin-left: 8px;
  padding: 0 10px 0 10px;
  outline: none;
  width: auto;
  background-image: none;
  -webkit-appearance: none;

  span {
    color: #262626;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    opacity: .7;
  }
}

.player__score-blob-button-container {

  paper-button {
    background-color: $primary-bg-colour;
    color: $primary-text-colour--light;
    font-size: 11px;
    margin: 4px;
  }
}

.player__shots-on-hole {
  font-size: 12px;
  text-align: center;

  span {
    color: $primary-bg-colour;
    font-size: 15px;
  }
}

.score-navigation-footer {
  background-color: #4c4c4c;
  box-shadow: inset 0 12px 12px rgba(0, 0, 0, 0.25);
  color: #fff;
  height: 94px;
  overflow: hidden;
}

.hole-number {
  cursor: pointer;
  position: relative;
  padding-top: 4px;
}

.hole-number-navigation {
  margin-bottom: 4px;
}

.hole-number__text {
  font-size: 15px;
  padding: 4px 8px;
}

.hole-number__text--selected {
  border-radius: 100%;
  background: $primary-accent-colour;
  color: $primary-text-colour--dark;
}

.hole-number--hole-complete {

  .hole-number__text {
    border-radius: 100%;
    background: $primary-bg-colour;
    color: $primary-text-colour--light;
  }

  .hole-number__text--selected {
    border-radius: 100%;
    background: $primary-accent-colour;
    color: $primary-text-colour--dark;
  }
}

.button-container__button {
  background-color: $primary-bg-colour;
  color: $primary-text-colour--light;
  font-size: 0.8em;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.button-container__button[showing]  {
  -webkit-transform: none;
  transform: none;
}

.previous-hole-button {

  core-icon {
    position: absolute;
    left: 0;
    height: 16px;
    top: 8px;
  }
}

.next-hole-button {

  core-icon {
    display:none;
  }

  core-icon[showing] {
    position: absolute;
    right: 0;
    top: 8px;
    height: 16px;
  }
}

.scorecard-button {
  background-color: $primary-accent-colour;
  color: $primary-text-colour--dark;
  font-size: 0.8em;
}
