/* Vars */
$primary-bg-colour: #009688;
$primary-bg-colour--light: #b2dfdb;
$primary-bg-colour--dark: #00796b;
$primary-text-colour--light: #FFF;
$primary-text-colour--dark: #000;

$primary-accent-colour: #eeff41;


:host {
  overflow: hidden;
}

.wide > .background-fade--themed {
  background-color: $primary-bg-colour--light;
}

.section-panel {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

:host([animate]) .section-panel {
  overflow: visible;
}

::-webkit-scrollbar {
  display: none;
}

.back-button {
  color: $primary-text-colour--light;
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 10000;
}

.home-button {
  color: $primary-text-colour--light;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10000;
}

.wide > .back-button {
  color: $primary-text-colour--dark;
  top: 12px;
  left: 16px;
}

.card {
  position: relative;
}

.section-panel.wide > .card {
  width: 512px;
  margin: 64px auto 0;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.card > core-toolbar {
  height: 100px;
  font-size: 16px;
  line-height: 26px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background-color: $primary-bg-colour;
  color: $primary-text-colour--light;
}

.card > core-toolbar::shadow #topBar {
  height: 100px;
}

.section-panel.wide > .card > core-toolbar {
  font-size: 18px;
}

.section-panel.wide core-toolbar > .question {
  padding: 0 8px;
}

.section-title {
  padding-top: 30px;
}

.section-content {
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;
}

.section-panel.wide .section-content {
  overflow: inherit;
}

#sectionViews {
  display: block;
}

#sectionViews > * {
  display: none;
}

#sectionViews > .core-selected {
  display: block;
}

paper-fab {
  position: absolute;
  top: 70px;
  right: 16px;
  background-color: $primary-accent-colour;
  color: $primary-text-colour--dark;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.4, 0, 0.2, 1) 500ms, background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

:host([active]) paper-fab[showing] {
  -webkit-transform: none;
  transform: none;
}

:host([animate]) paper-fab {
  visibility: hidden;
}

.section-panel.wide paper-fab.check-button {
  right: 24px;
}

.tournament-manager-pages {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
