/* Vars */
$primaryBgColour: #009688;
$lightBgColour: #b2dfdb;
$darkBgColour: #00796b;
$primaryAccentColour: #eeff41;
$primaryTextColour: #FFF;
$lightTextColour: #999;
$darkTextColour: #000;
$neutralBackgroundColour: #EEE;

:host {
  overflow: hidden;
}

paper-button {
  color: $primaryBgColour;
  font-size: 12px;
}
